h1{font-size: 2rem;}
h2{font-size: 1.7rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.2rem;}
h5{font-size: 1rem;}
h6{font-size: 0.9rem;}


/* Color end */
.textbase{
  color: #d5dae6;
}
.success{
  color: green;
}
.info{
  color: skyblue;
}
.warning{
  color: orange;
}
.danger{
color: red;
}
.background{
  background-color: #F0F0F0;
}
.primary-bg{
  background-color: #373f52;
}
.secondary-bg{
  background-color: #585858;
}
/* Color start */
/* Layout start */
.flex{
  display: flex;
}

.viewport{
  height: 100vh;
  max-width: 90vw;
  position: relative;
  top: 0px;
  left: 0px;
}

.navbar{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
min-height: 6rem;
border: solid 1px black;
}
.sidebar{
  position: fixed;
  left: 0px;
  width: 5rem;
  height: 100%;
  color: #d5dae6;
  border: solid 1px black;
}
.main{
  position: relative;
  left: 5rem;
}
body{
  top: 0px;
}
/* Layout end */
/* Margin's start */

.margin-10 {
    margin: 0.1em;
}

.margin-20 {
    margin: 0.2em;
}

.margin-50 {
    margin: 0.5em;
}

.margin-100 {
    margin: 1em;
}

.margin-150 {
    margin: 1.5em;
}

.margin-200 {
    margin: 2em;
}

.margin-0 {
    margin: 0em;
}

.margin-auto {
    margin: auto;
}

/* Margin's end */

/* border's start */

.border-001-solid {
  border: solid 0.01em;
}
.border-01-solid {
    border: solid 0.1em;
}
.border-02-solid {
    border: solid 0.2em;
}


.border-001-dashed {
  border: dashed 0.01em;
}
.border-01-dashed {
    border: dashed 0.1em;
}
.border-02-dashed {
    border: dashed 0.2em;
}


.border-001-ridge {
  border: ridge 0.01em;
}
.border-01-ridge {
    border: ridge 0.1em;
}
.border-02-ridge {
    border: ridge 0.2em;
}



/* border's end* /
  /* Padding start */

.padding-0 {
    padding: 0;
}

.padding-1 {
    padding: 1em;
}

.padding-01 {
    padding: 0.1em;
}

/* Padding end */
