h1{font-size: 2rem;}
h2{font-size: 1.7rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.2rem;}
h5{font-size: 1rem;}
h6{font-size: 0.9rem;}



.lae-textbase{
  color: #d5dae6;
}
.lae-success{
  color: green;
}
.lae-info{
  color: blue;
}
.lae-warning{
  color: orange;
}
.lae-danger{
color: red;
}

.lae-air-l-05{
  margin-left: 0.5rem;
}

.lae-flex{
  display: flex;
}

.lae-viewport{
  height: 100vh;
  width: 99vw;
  position: relative;
  top: 0px;
  left: 0px;
}

.lae-navbar{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
min-height: 6rem;
border: solid 1px black;
}
.lae-sidebar{
  position: fixed;
  left: 0px;
  width: 5rem;
  height: 100%;
  color: #d5dae6;
}
.lae-main{
  position: relative;
  left: 5rem;
}
body{
  top: 0px;
}

.lae-background{
  background-color: #F0F0F0;
}

.lae-primary{
  background-color: #373f52;
}

.lae-secondary{
  background-color: #585858;
}
.navbar-1{
    background-color: red;
    color: black;
    border: solid 1px;
    justify-content: center;
    height: 5%;
    text-align: center;
}
