body {
	background-color: #808080;	 
}

.rekke {
	width: 460px;
	height: 75px;
}

.knapp_hjem {
	content:url(hjem_knapp.jpg);
	width:150px;
	height: 75px;
	position: relative;
	top: 0px;
	float:left;
	padding-right: 5px;
}
	
	.knapp_info {
	content:url(info_knapp.jpg);
	width:150px;
	height: 75px;
	position: relative;
	float:left;
	padding-right: 5px;
	}
	
	.knapp_medlemm {
	content:url(medlemm_knapp.jpg);
	width:150px;
	height: 75px;
	position: relative;
	float:left;
	}
	
	 .main {
	 font-size: 1.2em;
	font-family: "arial";
	color: yellow;
	 }
	 
	 ul {
		 list-style-type: upper-roman;
		 margin-left: 5px;
	 }
	 
	 td {
		 border: 2px solid black;
		 padding: 10px;
	 }

 header {
	font-size: 2em;
	 font-family: "Times New Roman";
	 color: purple;
	 border: 1px solid black; 
}

section {
	font-size: 1.2em;
	font-family: "arial";
	color: yellow;
}

 footer {
	 position: relative;
	 bottom: 0px;
  width: 100%;
  text-align: left;
}


